*{
  scroll-behavior: smooth;
  font-family: 'Poppins', sans-serif;
  color: rgba(255, 255, 255, 0.9);
  user-select: none;
}
.bg-shade{
  background-color :rgba(0, 0, 0, 0.7);
  height: 100vh;
}

.logo{
  height: 3.5rem;
}

body{
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  
}

.brand{
  font-family: 'Pacifico', cursive;
}

span{
  color: yellow;
}

.lets-go{
  transition: all 1s ease-in-out;
}

button.lets-go:hover{
  color: black !important;
}


i.fa-arrow-right{
  font-size: 1.3rem;
  /* animation: zoomOut 2s infinite ease-in-out forwards; */
}

a{
  text-decoration: none;
  color: #fff;
}

.fa-solid:hover, .fa-brands:hover{
  color: #FFC22F;
  font-size: 1.5rem;
}

button{
  animation: blink 2s infinite alternate ease-in;
}

@keyframes blink{
  from{border-color: #FFC22F;}
  to{border-color: transparent;}
}

.intro{
  animation: fadeInDown 2s;
  position: relative;
}

p.intro::before{
  content: "";
  position: absolute;
  height: 2px;
  width: 10%;
  background-color: #fff;
  transform: translate(-115px,20px);

}

p.intro::after{
  content: "";
  position: absolute;
  height: 2px;
  width: 10%;
  background-color: #fff;
  transform: translate(0px,20px);
}

input#birthDay{
  background-color: rgba(255, 255, 255, 0.2);
  color: #fff;
  border-style: none;
  border-bottom: 2px solid #fff;
}
input{
  cursor: pointer;
}

form{
  position: relative;
}

#myForm{
  display: none;
  user-select: none;
}

#myResult{
  display: none;
}

.changeSmooth{
  animation: fadeIn 1.5s ease-in-out forwards;
}

.type-area{
  display: inline-block;
}

.type-animation{
  color: yellow !important;
  overflow: hidden; 
  white-space: nowrap;
  border-right: 2px solid #fff;
  animation: typeOut 1s steps(10, end) 3s forwards, cursor 0.5s steps(15,end) infinite alternate;
  width: 0%; 
} 

@keyframes typeOut{
  from{width: 0%;}
  to{width: 100%; }
}

@keyframes cursor{
  from{border-color: transparent;}
  to{border-color: #fff;}
}

@media only screen and (max-width:768px){
  p.intro::before, p.intro::after{
    display: none;
  }
}















/* form::before{
  content: "";
  height: 150px;
  width: 150px;
  border-top: 2px solid #FFC22F;
  border-left: 2px solid #FFC22F;
  position: absolute;
  transform: translate(-20%, -10%);
}

form::after{
  content: "";
  height: 150px;
  width: 150px;
  border-bottom: 2px solid #FFC22F;
  border-right: 2px solid #FFC22F;
  position: absolute;
  transform: translate(20%, 10%);
  bottom: 0;
  right: 0;
} */