*{
  scroll-behavior: smooth;
  font-family: 'Poppins', sans-serif;
  color: rgba(255, 255, 255, 0.9);
}
.bg-shade{
  background-color :rgba(0, 0, 0, 0.7);
  height: 100vh;
}
body{
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  
}
span{
  color: yellow;
}

.lets-go{
  transition: all 1s ease-in-out;
}

button.lets-go:hover{
  color: black !important;
}


i.fa-arrow-right{
  font-size: 1.3rem;
  /* animation: zoomOut 2s infinite ease-in-out forwards; */
}

a{
  text-decoration: none;
  color: #fff;
}

.fa-solid:hover, .fa-brands:hover{
  color: #FFC22F;
  font-size: 1.5rem;
}

button{
  animation: blink 2s infinite alternate ease-in;
}

@keyframes blink{
  from{border-color: #FFC22F;}
  to{border-color: transparent;}
}

.intro{
  animation: fadeInDown 2s;
  position: relative;
}

p.intro::before{
  content: "";
  position: absolute;
  height: 2px;
  width: 10%;
  background-color: #fff;
  transform: translate(-115px,20px);

}

p.intro::after{
  content: "";
  position: absolute;
  height: 2px;
  width: 10%;
  background-color: #fff;
  transform: translate(0px,20px);
}

#birthDay{
  background-color: transparent;
  color: #fff;
  border-style: none;
  border-bottom: 2px solid #fff;
}